[submodule "model/pendulum_dynamics/dependencies/nanobind"]
	path = pypendulum/dependencies/nanobind
	url = https://github.com/wjakob/nanobind.git
[submodule "model/pendulum_dynamics/dependencies/eigen"]
	path = pypendulum/dependencies/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "model/pendulum_dynamics/dependencies/fmt"]
	path = pypendulum/dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
