<!doctype html>
<html>
  <head>
    <title>Cart-pole MPC</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
    <style>
        #body {
          background-color: #13171f;
        }
    </style>
  </head>
  <body id="body">
    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script
      type="text/javascript"
      src="<%= htmlWebpackPlugin.files.js[key] %>"
      onload="CartPoleLibrary.loadApplication('body');"
      ></script><% } %>
  </body>
</html>
